.popup__button-save {
    padding: 14px 0;
    margin-top: 48px;
    border: none;
    background-color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    cursor: pointer; 
 }

 @media screen and (max-width: 518px){
   .popup__button-save {
      font-size: 14px;
      line-height: 17px;
      white-space: nowrap;
      margin-top: 45px;
   }
}