.popup__input {
    box-sizing: border-box;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    border: 0;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 57px;
    padding-top: 20px;
  }
 
  @media screen and (max-width: 518px){
    .popup__input {
       font-size: 14px;
       line-height: 121%;
    }
 }