.popup__input {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121%;
    border: 0;
    color: #000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 29px 0 9px;
  }
 