.page {
    font-family: 'Inter', sans-serif;
    margin: 0 auto;
    background-color: #000;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
     text-rendering: optimizeLegibility;
}


.header {
    margin: 0 auto;
    max-width: 880px;
    min-height: 70px;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
    border-color: transparent;
}

@media screen and (max-width: 767px){
    .header {
       margin: 0;
       min-height: 56px;
       max-width: 288px;
       padding-top: 28px;
   }
 }

.header__logo {
    max-width: 142px;
}

@media screen and (max-width: 767px){
    .header {
       padding-left: 27px;
       max-width: 103px;
   }
 }