.profile {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 120px 346px 1fr;
    color: #fff;
    gap: 25px;
    align-items: center;
    justify-items: end;
    width: calc(100% - 38px);
 }

 @media screen and (max-width: 772px){
   .profile {
    grid-template-columns: 120px 290px 150px;
      margin: 0 19px 0;
      padding-top: 42px;
      justify-items: center;
      justify-content: center;
      gap: 10px;
  }
}

@media screen and (max-width: 705px){
  .profile {
    grid-template-columns: 282px;
    justify-items: center;
 }
}
