.element__title {
    margin: 0 0 0 22px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }