.header__logo {
    max-width: 142px;
    min-height: 33px;
}

@media screen and (max-width: 920px){
  .header__logo {
    padding-left: calc(2.5% - 1px);
 }
}

@media screen and (max-width: 767px){
    .header__logo {
      max-width: 103px;
      min-height: 24px;
      padding-left: 27px;
   }
 }