.header {
    margin: 0 auto;
    max-width: 880px;
    min-height: 70px;
    padding-top: 45px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    width: 100%;
}

@media screen and (max-width: 767px){
    .header {
       margin: 0;
       min-height: 56px;
       max-width: 100%;
       padding-top: 28px;
   }
 }
