.profile__title {
    margin: 0;
    grid-column: 1/2;
    grid-row: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    align-self: end;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }

 @media screen and (max-width: 772px){
   .profile__title {
      font-size: 27px;
      line-height: 122%;
      text-align: center;
  }
}