.element__group {
    background: url(../../../images/Vector_heart.svg)no-repeat center;
    width: 22px;
    height: 19px;
    border: none;
    margin-right: 20px;
    margin-bottom: 2px;
    cursor: pointer;
 }
 
 .element__group:hover {
    opacity: 70%;
    transition: all 0.2s;
 }
 
 .element__group:active {
    background: url(../../../images/Union_black_heart.svg) no-repeat center;
    transition: all 0.2s;
    opacity: 100%;
 }