.profile__add-batton {
    background: url(../../../images/vector-add-batton.svg) no-repeat center;
    border: 2px solid #fff;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
  }
 
  @media screen and (max-width: 772px){
   .profile__add-batton {
      margin-top: 23px;
   }
}

@media screen and (max-width: 705px){
   .profile__add-batton {
      width: 282px;
      background-size: 16px;
   }
}

 .profile__add-batton:hover {
    opacity: 70%;
    transition: all 0.2s;
 }