.profile__add-batton {
    background: url(../../../images/Vector\ add__batton.svg) no-repeat center;
    border: 2px solid #fff;
    width: 146px;
    height: 46px;
  }
 
  @media screen and (max-width: 620px){
    .profile__add-batton {
       width: calc(100% - 4px);
       height: 46px;
    }
 }
 @media screen and (max-width: 518px){
    .profile__add-batton {
       margin-top: 24px;
    }
 }
 
 .profile__add-batton:hover {
    opacity: 70%;
    transition: all 0.2s;
 }