.elements {
    margin: 0 auto;
    max-width: 880px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 17px;
    width: calc(100% - 38px);
}

@media screen and (max-width: 772px){
   .elements {
      gap: 20px;
      padding-top: 12px;
   }
}