.popup_close-button {
    width: 32px;
    height: 32px;
    background: transparent url(../../../images/—Ålose-batton-ikon.svg) center no-repeat;
    background-size: 32px 32px;
    border: 0;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: -39px;
    top: -40px;
  }
  
  @media screen and (max-width: 518px){
    .popup_close-button {
       width: 20px;
       height: 20px;
       background-size: 20px 20px;
       right: 1px;
       top: -37px;
    }
 }
 
  .popup_close-button:hover {
    opacity: 0.6;
  }