.profile__info {
    min-height: 73px;
    max-width: 336px;
    display: grid;
    grid-template-columns: 310px 24px;
    grid-template-rows: repeat(1, 1fr);
    gap: 9px 2px;
    justify-self: stretch;
    padding-left: 5px;
    justify-items: start;
}

@media screen and (max-width: 772px){
  .profile__info {
    grid-template-columns: 193px 18px;
     gap: 6px 7px;
     padding-left: 44px;
  }
}

@media screen and (max-width: 705px){
  .profile__info {
     justify-items: center;
  }
}
