.profile__info {
    min-height: 73px;
    max-width: 336px;
    display: grid;
    grid-template-columns: 294px 24px;
    grid-template-rows: repeat(1, 1fr);
    gap: 11px 13px;
    justify-self: end;
}

@media screen and (max-width: 772px){
  .profile__info {
     grid-template-columns: 200px 18px;
     justify-items: start;
     gap: 14px 10px;
     justify-self: center;
  }
}

@media screen and (max-width: 518px){
  .profile__info {
     justify-self: center;
     grid-template-columns: 300px 18px;
     justify-items: center;
  }
}

@media screen and (max-width: 363px){
  .profile__info {
     grid-template-columns: 200px 18px;
     padding-left: 29px;
     gap: 6px 4px;
  }
}