.profile__edit-batton {
    background: url(../../../images/Vector.svg) no-repeat center;
    max-width: 24px;
    height: 24px;
    border: 1px solid #fff;
    align-self: end;
    margin-bottom: 7px;
    cursor: pointer;
 }

 @media screen and (max-width: 772px){
   .profile__edit-batton {
      width: 18px;
      height: 18px;
      margin-bottom: 7px;
      background-size: 7.5px;
   }
}

.profile__edit-batton:hover {
   opacity: 70%;
   transition: all 0.2s;
}
