.profile__edit-batton {
    background: url(../../../images/Vector.svg) no-repeat center;
    max-width: 23px;
    height: 23px;
    border: 1px solid #fff;
    align-self: end;
    margin-bottom: 5px;
    cursor: pointer;
 }

 @media screen and (max-width: 772px){
   .profile__edit-batton {
      width: 16px;
      height: 16px;
      margin-bottom: 8px;
      background-size: 7.5px;
   }
}

.profile__edit-batton:hover {
   opacity: 70%;
   transition: all 0.2s;
}
